language: nix

sudo: false

env:
  global:
    # This should be set by Travis environment variable
    # - CACHIX_CACHE=
    # As more of a staging repo before pushing packages upstream,
    # this repo does not participate in the NUR collection of repos.
    # - NUR_REPO=

matrix:
  include:
    - env: NIX_CHANNEL=https://nixos.org/channels/nixpkgs-unstable
    - env: NIX_CHANNEL=https://nixos.org/channels/nixos-unstable
    - env: NIX_CHANNEL=https://nixos.org/channels/nixos-18.09

install:
 - nix --version
 - if [ -n "${CACHIX_CACHE}" ]; then travis_retry nix-channel --update; fi
 # Use a known revision of nixpkgs that can build cachix until
 # https://github.com/NixOS/nixpkgs/issues/53067 is fixed.
 - if [ -n "${CACHIX_CACHE}" ]; then nix-env -i cachix --file https://github.com/NixOS/nixpkgs/archive/889c72032f8595fcd7542c6032c208f6b8033db6.tar.gz; fi
 - if [ -n "${CACHIX_CACHE}" ]; then cachix use "${CACHIX_CACHE}"; fi
 - nix-channel --add "${NIX_CHANNEL}" nixpkgs
 - travis_retry nix-channel --update

script:
 - outs=$(nix-build non-broken.nix) && echo Produced $outs
 - nix eval -f default.nix 'lib'
 - nix eval -f default.nix 'modules'
 - nix eval -f default.nix 'overlays'

after_success:
  - if [ -n "${CACHIX_CACHE}" ]; then cachix push "${CACHIX_CACHE}" $outs; fi
  - if [ "false" = "${TRAVIS_PULL_REQUEST}" -a "master" = "${TRAVIS_BRANCH}" -a -n "${NUR_REPO}"]; then
      curl -XPOST "https://nur-update.herokuapp.com/update?repo=${NUR_REPO}"; fi
